<%
    // Select the correct section ads
    let adsList = ads[section] || [];
    // Object to track used ads per section
    if (!global.usedAds) {
        global.usedAds = { a: [], b: [], c: [] };
    }

    // Filter out already used ads
    let availableAds = adsList.filter(ad => !global.usedAds[section].includes(ad.image_path));

    // Reset if all ads have been used
    if (availableAds.length === 0) {
        global.usedAds[section] = [];
        availableAds = [...adsList];
    }

    // Pick a random ad
    let randomAd = availableAds[Math.floor(Math.random() * availableAds.length)];

    // Store in used ads
    global.usedAds[section].push(randomAd.image_path);
%>

<a href="/ad/click/<%= randomAd.id %>" <%= randomAd.open_in_new_tab ? 'target="_blank"' : '' %>>
    <img src="/imgs/<%= randomAd.image_path %>" alt="Ad" class="<%= section %>-side" id="<%= section %>-<%= randomAd.id %>" onload="trackImpression('<%= randomAd.id %>')">
</a>
